body {
  background-color: #ffffff;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  border-radius: 0 0 10px 10px;
}

.card img {
  border-radius: 5px;
}

.btn-success {
  background-color: #28a745;
  border: none;
}

.btn-success:hover {
  background-color: #218838;
}
